.register {
  padding: 100px 0;
  @include max-breakpoint(1199) {
    padding: 80px 0;
  }
  @include max-breakpoint(767) {
    padding: 30px 0;
  }
  &__form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 8%;
    .form-group {
      .form-control {
        color: #000;
        box-shadow: none;
        height: 50px;
        padding: 8px 15px;
      }
    }
    .form-check {
      color: #687188;
    }
    &-log {
      text-align: center;
    }
    &-link {
      display: flex;
      justify-content: center;
      .link__item {
        border-radius: 5px;
        padding: 10px 10px;
        color: #fff;
        &-fb {
          background: #3b5998;
          border-color: #3b5998;
          color: #fff;
          padding: 10px 20px;
        }
        &-gg {
          background: #d85040;
          border-color: #d85040;
          color: #fff;
          padding: 10px 20px;
        }
      }
    }
    &-or {
      text-align: center;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        border-top: 1px solid #ddd;
        transform: translateY(-50%);
        width: 100%;
      }
      span {
        background-color: #fff;
        padding: 0 15px;
        position: relative;
        text-transform: uppercase;
        z-index: 1;
      }
    }
    &-button {
      color: #fff;
      position: relative;
      background-color: transparent;
      z-index: 1;
      padding: 12px 35px;
      width: 100%;
      border-radius: 0.25rem;
      border: 1px solid #ff324d;
      margin-top: 1rem;
      margin-bottom: 1rem;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #ff324d;
        z-index: -1;
        transition: all 0.3s ease-in-out;
        width: 50%;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #ff324d;
        z-index: -1;
        transition: all 0.3s ease-in-out;
        width: 50%;
      }
      &:hover {
        color: #ff324d;
        border: 1px solid #ff324d;
        background-color: #fff;
        &:after {
          width: 0;
        }
        &:before {
          width: 0;
        }
      }
    }
    &-header {
      margin-bottom: 25px;
      @include max-breakpoint(1199) {
        margin-bottom: 20px;
      }
      @include max-breakpoint(991) {
        margin-bottom: 15px;
      }
    }
  }
}
